Read and Analyze Image File.json
{
  "name": "Read and Analyze Image File",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3e4232a2-a7f2-4cbd-adff-98a0cfc44e94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "6105e650-56a7-4a27-ab23-e5cbb68e8c9f",
      "name": "Get a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "dAIluB4oSRT21itM",
          "name": "Microsoft Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "enpa.silan@wellous.com",
        "subject": "This is test email",
        "bodyContent": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "627f6fc9-580d-4147-b88a-7825e410f239",
      "name": "Send a message",
      "webhookId": "83902ed2-12fe-473d-bc45-c4f485fb260b",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "q1lwL6bKQ5GFythY",
          "name": "Microsoft Outlook account 13"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "query": "tigrox-image.jpg"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "5437dbbc-83ff-4d94-9b48-ae8d326d0006",
      "name": "Search a file",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "dAIluB4oSRT21itM",
          "name": "Microsoft Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze this advertising image and provide a structured breakdown. Respond in clean HTML format suitable for an email body — use <h3> for section headers, <ul>/<li> for bullet points, and <p> for paragraphs. Do not use markdown syntax (no **, no -, no #).\n\nCover:\n1. Brand/product name and tagline\n2. Key claims and comparison points being made\n3. Visual style and tone\n4. Certifications/logos shown\n5. Call-to-action used\n6. Overall assessment of the creative's effectiveness",
        "documentUrls": "={{ $json['@microsoft.graph.downloadUrl'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        848,
        0
      ],
      "id": "a041f6c8-a537-4b55-811f-71b855a3b165",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "Cy8fcdKZ4YA2xuIC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "f8d187e7-3dec-4b11-b8e0-cf9c3dc1b8ce",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a file": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1f4de83-4a4e-4b12-8268-9d21b0a3e7f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f49159c21ab5a52e4d6290bb1958fd85b4936ef476cf70a200aeb6ab971fce1a"
  },
  "nodeGroups": [],
  "id": "GY1vscCpzFMdPVWd",
  "tags": [
    {
      "updatedAt": "2026-06-19T08:04:47.324Z",
      "createdAt": "2026-06-19T08:04:47.324Z",
      "id": "JWL4S769DcPBZu2K",
      "name": "demo"
    },
    {
      "updatedAt": "2026-06-22T07:17:47.924Z",
      "createdAt": "2026-06-22T07:17:47.924Z",
      "id": "HHJAeC4fCzwMRkNf",
      "name": "templates"
    }
  ]
}